<div class="place-self-center">
  {{ with .Site.Params.Author.name | markdownify }}
  <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
    {{ . }}
  </div>
  {{ end }}
  {{ with .Site.Params.Author.title | markdownify }}
  <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
    {{ . }}
  </div>
  {{ end }}
</div>
<div class="flex author">
  {{ with .Site.Params.Author.image }}
  {{ $authorImage := "" }}
  {{ $authorImage = resources.Get . }}
  {{ $authorImage := resources.GetRemote . }}
  <img class="!mt-0 !mb-0 h-24 w-24 rounded-full me-4" width="96" height="96"
    alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}">
  {{ end }}
</div>
<div class="place-self-center">
  <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
    Über mich
  </div>
  {{ with .Site.Params.Author.bio | markdownify }}
  <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
  {{ end }}
  <p />
  {{ with .Site.Params.Author.languages | markdownify }}
  <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
    Sprachen
  </div>
  <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
  {{ end }}
  <p />
  {{ with .Site.Params.Author.hobbies | markdownify }}
  <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
    Hobbies
  </div>
  <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
  {{ end }}
  <div class="text-2xl sm:text-lg">{{ partialCached "author-links.html" . }}</div>
</div>