{{ define "main" }}
<article>
  {{/* Body */}}
  <section class="flex flex-col prose dark:prose-invert  max-w-full lg:flex-row">
    <div class="order-first w-full lg:w-1/3 p-6">
      {{ partial "author2.html" . }}
    </div>
    <div class="min-w-0 min-h-0 max-w-fit">
      <div class="article-content ">
        {{ .Content }}
      </div>
    </div>

    {{ $translations := .AllTranslations }}
    {{ with .File }}
    {{ $path := .Path }}
    {{ range $translations }}
    {{ $lang := print "." .Lang ".md" }}
    {{ $path = replace $path $lang ".md" }}
    {{ end }}
    {{ $jsPage := resources.Get "js/page.js" }}
    {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default
    "sha512") }}
    <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"
      data-oid="views_{{ $path }}" data-oid-likes="likes_{{ $path }}"></script>
    {{ end }}
  </section>
</article>
{{ end }}